bale_of_turtles @ git+https://github.com/ghalrym/bale-of-turtles@main
mini_tortoise_audio @ git+https://github.com/ghalrym/mini-tortoise-audio@main
mini_tortoise_tts @ git+https://github.com/ghalrym/mini-tortoise-tts@main
pydub
numpy
torchaudio
sqlalchemy
chromadb
